
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page details -->
<div class="breadcrumb-w3ls py-1">
    <div class="container">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //page details -->
<!-- gallery -->
<div class="gallery py-5" id="gallery">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-5 text-wh font-weight-bold">
            Our Gallery
            <span>Caption Here</span>
        </h3>
        <div class="news-grids gal text-center">
            <div class="d-md-flex">
                <div class="col-md-4 gal-img">
                    <a href="#gal1"><img src="~/images/d4.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img my-md-0 my-3">
                    <a href="#gal2"><img src="~/images/d2.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal3"><img src="~/images/d3.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="d-md-flex mt-4">
                <div class="col-md-4 gal-img">
                    <a href="#gal4"><img src="~/images/d1.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img my-md-0 my-3">
                    <a href="#gal5"><img src="~/images/d5.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal6"><img src="~/images/d6.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery popups -->
<!-- popup-->
<div id="gal1" class="popup-effect">
    <div class="popup">
        <img src="~/images/d4.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Elma</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal2" class="popup-effect">
    <div class="popup">
        <img src="~/images/d2.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Havuç</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal3" class="popup-effect">
    <div class="popup">
        <img src="~/images/d3.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Üzüm</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal4" class="popup-effect">
    <div class="popup">
        <img src="~/images/d1.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Erik</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal5" class="popup-effect">
    <div class="popup">
        <img src="~/images/d5.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Dut</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal6" class="popup-effect">
    <div class="popup">
        <img src="~/images/d6.jpg" alt="Popup Image" class="img-fluid" />
        <h3 class="title font-weight-bold let mt-3 mb-2">Portakal</h3>
        <p>Bol Vitamin.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- //gallery popups -->
<!-- //gallery -->