@using OrganicFood.Models.Entity
@model List<TBLUrunler>


@{
    ViewBag.Title = "Index";
}
<!-- page details -->
<div class="breadcrumb-w3ls py-1">
    <div class="container">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //page details -->
<!-- about -->
<div class="about py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-5 py-sm-3">
            <h3>Muhteşem Organik Gıda Sitemize Hoşgeldiniz</h3>
            <a href="about.html" class="btn button-style button-style-2 mt-sm-5 mt-4">Daha Fazlası için</a>
        </div>
    </div>
</div>
<!-- //about -->
<!-- best food  -->
<section class="py-5 team-w3ls" id="best">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 pt-sm-5 mb-5 text-wh font-weight-bold">
            Sağılıklı Organik Besin
            <span>bizim websitemizde mevcuttur.</span>
        </h3>
        <div class="d-flex team-w3ls-row pt-xl-5 pt-md-3">
            <div class="col-lg-4 col-sm-6">
                <div class="box20">
                    <img src="~/images/d1.jpg" alt="" class="img-fluid" />
                    <div class="box-content">
                        <h3 class="title">Erik</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 my-sm-0 my-4">
                <div class="box20 active">
                    <img src="~/images/d6.jpg" alt="" class="img-fluid" />
                    <div class="box-content active">
                        <h3 class="title">Portakal</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-4 mx-auto">
                <div class="box20">
                    <img src="~/images/d5.jpg" alt="" class="img-fluid" />
                    <div class="box-content">
                        <h3 class="title">Dut</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex team-w3ls-row pt-lg-5 mt-lg-0 mt-4">
            <div class="col-lg-4 col-sm-6">
                <div class="box20">
                    <img src="~/images/d4.jpg" alt="" class="img-fluid" />
                    <div class="box-content">
                        <h3 class="title">Elma</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <div class="box20">
                    <img src="~/images/d3.jpg" alt="" class="img-fluid" />
                    <div class="box-content">
                        <h3 class="title">Üzüm</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 mx-auto">
                <div class="box20">
                    <img src="~/images/d2.jpg" alt="" class="img-fluid" />
                    <div class="box-content">
                        <h3 class="title">Havuç</h3>
                        <span class="post">Organik Besin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //best food  -->
<!-- middle -->
<section class="what-w3ls">
    <div class="container-fluid py-xl-5 py-lg-3">
        <div class="offset-xl-7 offset-lg-6 offset-md-4 offset-sm-2">
            <div class="grids-whtas pr-xl-5">
                <h3 class="tittle text-wh mb-5 font-weight-bold">763'den fazla meyve & Sebze</h3>
                <p class="lead text-li">
                    @foreach (var m in Model)
                    {
                        @m.UrunAdi <br />
                        @m.UrunAciklama<br />

                    }
                </p>
                <hr class="my-4">

                <a href="about.html" class="btn button-style mt-sm-5 mt-4">Daha Fazla bilgi için</a>
            </div>
        </div>
    </div>
</section>
<!-- //middle -->
<!-- testimonials -->
<div class="testimonials py-5" id="testi">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-5 text-wh font-weight-bold">
            Müşterilerimiz ne diyor
            <span>Web Sitemiz İçin Mükemmel Yorumlar</span>
        </h3>
        <div class="carousel-inner">
            <div class="row">
                <div class="col-lg-6 w3_testimonials_grid">
                    <div class="bg-wh p-sm-5 p-4">
                        <p class="sub-test-w3ls">
                            Herşey harika çok teşekkürler.
                        </p>
                        <div class="row mt-5">
                            <div class="col-3 testi-img-res">
                                <img src="~/images/te1.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="col-9 w3_testi_grid mt-xl-3 mt-lg-2 mt-md-4 mt-2">
                                <h5 class="mb-2">Thomas Carl</h5>
                                <p>Sed do eiusmod</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 w3_testimonials_grid mt-lg-0 mt-4">
                    <div class="bg-wh p-sm-5 p-4">
                        <p class="sub-test-w3ls">
                           Tek kelime ile mühteşeşm
                        </p>
                        <div class="row mt-5">
                            <div class="col-3 testi-img-res">
                                <img src="images/te2.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="col-9 w3_testi_grid  mt-xl-3 mt-lg-2 mt-md-4 mt-2">
                                <h5 class="mb-2">Adam Ster</h5>
                                <p>Sed do eiusmod</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->
<!-- slides images -->
<div class="slide-imaes">

</div>
<!-- //slides images -->